.header {
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  text-align: right;
  border-bottom: 1px solid #1da57a;
  padding-right: 30px;
  line-height: 40px;
}
.header .header-bottom {
  height: 40px;
  display: flex;
}
.header .header-bottom .header-bottom-left {
  position: relative;
  width: 25%;
  font-size: 20px;
  color: #ccc;
  text-align: center;
}
.header .header-bottom .header-bottom-left::after {
  position: absolute;
  top: 86%;
  content: '';
  right: 50%;
  transform: translateX(50%);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
}
.header .header-bottom .header-bottom-right {
  width: 75%;
  text-align: right;
  margin-right: 30px;
  line-height: 40px;
}
.header .header-bottom .header-bottom-right img {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
